/*Ivan Start
*/
body {
	margin: 14px;
	
	background: #ffd0a7;
	font: normal small Arial, Helvetica, sans-serif;
	
	color: #000;
	
}


#menu {
	
	width: 150%;
	height:25px;
	margin: 0 auto;
	margin-left:-10%;
	margin-right:140%;
	padding: 0;
	background: #ffaf6a;
	font-weight:900;
	border: 5px solid #ff7f0f;
	border-top: 5em solid #ff7f0f;
	border-bottom: 0px solid #ff7f0f;
}


#menu ul {
	margin: 0;
	padding: 0;
	position:absolute;
    right:25%;
    left:25%;
    
	list-style: none;
	
	
}

#menu li {
	display: inline;
}

#menu a {
	//position:absolute;
	display: block;
	float: left;
	width: 73px;
	height: 18px;
	padding-top: 5px;
	padding-bottom: 2px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size:12px;
	font-weight:normal
}

#menu a:hover, #menu .active a {
	background: #ff7f0f;
}
#menu p
{
	position:absolute;
   
    right:39.5%;
	top:0.1em;
	
	color: #000;
	font-size:230%;
	font-weight:normal
}
	
