body
{
    background: -moz-linear-gradient(center top , #B3B3B0 0px, #E3E2DD 500px) no-repeat scroll 0 0 #E3E2DD;
    font-family: "Segoe UI" , "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-weight: lighter;
    line-height: 1.1em;
    min-height: 800px;
    color: #a00;
}

h1
{
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #22a;
}

p
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
    font-weight: bolder;
    text-align: left;
}

.label
{
    display: inline-block;
    width: 100px;
}

.inputText
{
    width: 400px;
}

#btnPost 
{
    display: inline-block;
	margin-left: 100px;
}

#divMessageBoard
{
    background-color: Yellow;
    width: 800px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 20px 10px; /* ROUNDED */
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
 
    -webkit-box-shadow: rgba(80,80, 255, 0.6) 0px 0px 8px, inset rgba(0,0,0,1) 0px -2px 12px;
    -khtml-box-shadow: rgba(80,80, 255, 0.6) 0px 0px 8px, inset rgba(0,0,0,1) 0px -2px 12px;
    -moz-box-shadow: rgba(80,80, 255, 0.6) 0px 0px 8px, inset rgba(0,0,0,1) 0px -2px 12px;
    -ms-box-shadow: rgba(80,80, 255, 0.6) 0px 0px 8px, inset rgba(0,0,0,1) 0px -2px 12px;
    -o-box-shadow: rgba(80,80, 255, 0.6) 0px 0px 8px, inset rgba(0,0,0,1) 0px -2px 12px;
  
}

#divMessageBoard table
{
    margin-left: 100px;
    width: 680px;
}

#divMessageBoard table th
{
    padding: 5px;
    font-variant: small-caps;
}
