<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="dbLive"
			 connectionString="Server=namek.computing.dundee.ac.uk; Database='ac213db7'; User = 'ac213u7'; Password='abc131'"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>